H1 {
    text-align: center;
    color : #ffa511;
    text-decoration: double teal underline;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 0.5;
    text-transform: uppercase;
}